#Applicatiion
APP_PORT_HTTP=8000
OPENAPI_DOCS_ENABLED=false # set ke true untuk enable openapi docs
TRACE_IN_RESPONSE=true #set false untuk disable trace in response
NODE_ENV=development
APP_NAME=kat-rest-boiler-plate
#lihat di jenkins backend yang sudah ada
APP_SECRET_KEY=W4KyC6Q1VAVgwZYuSg7cw9R9SScbDFZmk8sHlMp6cwA5YHDD1EVz2ekBTqeUoeZUH2RW9GX96hGXOlgBvtIgQFvsY89rCvEilKjZ

# DEBUG
APP_LOG_LEVEL=debug # di production set ke info supaya tidak terlalu banyak logs
NODE_ENV=development # di production set ke production
DEBUG_QUERY=false # di production set ke true
DEBUG_SINGLE_FLIGHT=false #set true, jika perlu debugging double request

#Database
DB_HOST_MYSQL=
DB_NAME_MYSQL=
DB_USER_MYSQL=
DB_PASS_MYSQL=
DB_PORT_MYSQL=

#rabbit
RABBITMQ_URL=
RABBITMQ_EXCHANGE=
